[submodule "public/openlayers"]
	path = public/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "public/SlickGrid"]
	path = public/SlickGrid
	url = git://github.com/mleibman/SlickGrid.git
[submodule "public/livepipe-ui"]
	path = public/livepipe-ui
	url = git://github.com/saucytiger/livepipe-ui.git
[submodule "public/icons"]
	path = public/icons
	url = git://github.com/molysgaard/OAM-Icons.git
