var epsg4326 = new OpenLayers.Projection("EPSG:4326");
var map;
var markers;
var wfs;
var pointWfs;
var mapserverNode;
var mapserverLine;
var mapserverArea;
var popup;
var selectControl;

// START FUNCTIONS FOR THE INFO POPUPS
function onPopupClose(evt) {
    selectControl.unselect(selectedFeature);
}
function buildTable(attrs) {
  head = '<table class="popuptable">';
  tail = "</table>";
  cont = "";
  for (key in attrs) {
    if (attrs[key] != null){
      cont = cont + "<tr><td>" + key.toString() + "</td><td>" + attrs[key].toString() + "</td></tr>";
    }
  }
  return (head + cont + tail);
}

//function buildTable(attrs) {
//  head = '<table class="popuptable">';
//  tail = "</table>";
//  cont = "";
//  keyVals = attrs['tags'].slice(1,-1).split('", "');
//  cont = cont + '<tr><td colspan="2"><center><b>FEATURE TAGS</b></center></td></tr>';
//  for (var i=0; i<keyVals.length; i++) {
//      var kv = keyVals[i].split('"=>"');
//      cont = cont + "<tr><td>" + kv[0].toString() + "</td><td>" + kv[1].toString() + "</td></tr>";
//  }
//
//  if (attrs['rel_tags']!="" && attrs['rel_tags'] != undefined) {
//      cont = cont + '<tr><td colspan="2"><center><b>RELATION TAGS</b></center></td></tr>';
//      keyVals = attrs['rel_tags'].slice(1,-1).split('", "');
//      for (var i=0; i<keyVals.length; i++) {
//          var kv = keyVals[i].split('"=>"');
//          cont = cont + "<tr><td>" + kv[0].toString() + "</td><td>" + kv[1].toString() + "</td></tr>";
//      }
//  }
//  return (head + cont + tail);
//
//}

var OamFormatClass = OpenLayers.Class(OpenLayers.Format.GML, {
    read: function(data) {
        gmlParser = new OpenLayers.Format.GML();
	features = gmlParser.read(data);
        //Add feature tags
        for (var j=0; j<features.length; j++) {
            //Add the relation tags first, this is because feature tags should overwrite relation tags.
            if (features[j].attributes['rel_tags'] != null){
                keyVals = features[j].attributes['rel_tags'].slice(1,-1).split('", "');
                for (var i=0; i<keyVals.length; i++) {
                    var kv = keyVals[i].split('"=>"');
	            features[j].attributes[kv[0].toString()] = kv[1].toString();
                }
		delete features[j].attributes['rel_tags'];
            }

            if (features[j].attributes['tags'] != null){
                keyVals = features[j].attributes['tags'].slice(1,-1).split('", "');
                for (var i=0; i<keyVals.length; i++) {
                    var kv = keyVals[i].split('"=>"');
	            features[j].attributes[kv[0].toString()] = kv[1].toString();
                }
		delete features[j].attributes['tags'];
            }
	}
	return features;
    }
});

function onFeatureSelect(feature) {
    selectedFeature = feature;
    popup = new OpenLayers.Popup.FramedCloud("chicken", 
                             feature.geometry.getBounds().getCenterLonLat(),
			     null,
                             "<div style='font-size:.8em; width: 300px'>" + buildTable(feature.attributes) + "</div>",
                             null, true, onPopupClose);
    popup.maxSize = new OpenLayers.Size(600,400);
    popup.autoSize = true;
    feature.popup = popup;
    map.addPopup(popup);
}
function onFeatureUnselect(feature) {
    map.removePopup(feature.popup);
    feature.popup.destroy();
    feature.popup = null;
}
// END FUNCTIONS FOR THE INFO POPUPS


function pointToLonLat(point){
  if (point==undefined){
    return undefined;
  }
  var lonlat = new OpenLayers.LonLat(point.x, point.y);
  return lonlat;
}

function createMap(divName, options) {
    OpenLayers.ProxyHost = "/cgi-bin/proxy.cgi?url=";
    map = new OpenLayers.Map('map');
    var gphy = new OpenLayers.Layer.Google(
        "Google Physical",
        {type: google.maps.MapTypeId.TERRAIN}
    );
    map.addLayer(gphy);

    var topo2 = new OpenLayers.Layer.WMS(
		"Topografisk norgeskart2","http://opencache.statkart.no/gatekeeper/gk/gk.open?",
		{layers: 'kartdata2', format: 'image/jpeg',
		projection: "EPSG:4326"});
    map.addLayer(topo2);

    var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS", 
	"http://vmap0.tiles.osgeo.org/wms/vmap0?", {layers: 'basic'}); 
    map.addLayer(wms);

    //START OF OAM STYLES
    var renderer = OpenLayers.Util.getParameters(window.location.href).renderer;
    renderer = (renderer) ? [renderer] : OpenLayers.Layer.Vector.prototype.renderers;

    var areaContext = {
        getFillColor: function(feature) {
            if (feature.attributes["airspace"] == "yes"){
              return "blue";
            }
        },
        getFillOpacity: function(feature) {
            if (feature.attributes["airspace"] == "yes"){
              return "0.2";
            }
        },
        getStrokeColor: function(feature) {
            if (feature.attributes["airspace"] == "yes"){
              return "blue"
            }
        },
        getStrokeOpacity: function(feature) {
            if (feature.attributes["airspace"] == "yes"){
              return "0.2";
            }
        },
    };
    var areaTemplate = {fillColor: "${getFillColor}",
                    strokeColor: "${getStrokeColor}",
                    fillOpacity: "${getFillOpacity}",
                    strokeOpacity: "${getStrokeOpacity}"};
    var areaStyle = new OpenLayers.Style(areaTemplate, {context:areaContext});

    var pointContext = {
        getGraphic: function(feature) {
            //Start of navaid
            if (feature.attributes["navaid"] == "yes"){
              if (feature.attributes["navaid:vor"] != null){
                if (feature.attributes["navaid:dme"] != null){
                  return "/icons/renders/32/vor_dme.png";
                }
        	if (feature.attributes["navaid:tacan"] != null){
                  return "/icons/renders/32/vor_tacan.png";
                }
        	else {
                  return "/icons/renders/32/vor.png";
                }
              }
              if (feature.attributes["navaid:ndb"] != null){
                return "/icons/renders/32/ndb.png";
              }
              if (feature.attributes["navaid:dme"] != null){
                return "/icons/renders/32/dme.png";
              }
              if (feature.attributes["navaid:tacan"] != null){
                return "/icons/renders/32/tacan.png";
              }
              return "/icons/renders/32/navaid.png";
            }//Start of aerodrome
            if (feature.attributes["aerodrome"] == "yes"){
              return "/icons/renders/32/aerodrome.png";
            }//Start of obstacle
            if (feature.attributes["obstacle"] == "yes"){
              return "/icons/renders/32/obstacle.png";
            }//Start of reporting points
            if (feature.attributes["vfrreportingpoint"] == "yes"){
              return "/icons/renders/32/vfrreportingpoint.png";
            }//Start of node catch all
            else {
              return "/icons/renders/32/node.png";
            }
        },
    };
    var pointTemplate = {pointRadius:16, externalGraphic: "${getGraphic}"};

    var pointStyle = new OpenLayers.Style(pointTemplate, {context:pointContext});
    //END OAM STYLES

    //MAPSERVER WFS TEST
    mapserverArea = new OpenLayers.Layer.Vector("mapserver area test", {
        strategies: [new OpenLayers.Strategy.BBOX()],
        protocol: new OpenLayers.Protocol.WFS({
            url: "http://openaviationmap.org/cgi-bin/mapserv?map=../test.map",
            featureType: "LysWfsArea",
            version: "1.0.0",
            srsName: "EPSG:4326",
            geometryName: "the_geom",
            readFormat: new OamFormatClass(),
        }),
        projection: "EPSG:4326",
        styleMap: new OpenLayers.StyleMap(areaStyle),
        renderers: renderer,
    });
    map.addLayer(mapserverArea);

    mapserverNode = new OpenLayers.Layer.Vector("mapserver node test", {
        strategies: [new OpenLayers.Strategy.BBOX()],
        protocol: new OpenLayers.Protocol.WFS({
            url: "http://openaviationmap.org/cgi-bin/mapserv?map=../test.map",
            featureType: "LysWfsNode",
            version: "1.0.0",
            srsName: "EPSG:4326",
            geometryName: "the_geom",
            readFormat: new OamFormatClass(),
        }),
        projection: "EPSG:4326",
        styleMap: new OpenLayers.StyleMap(pointStyle),
        renderers: renderer,
    });
    map.addLayer(mapserverNode);

    //START OF SELECT FEATURE THINGY
    selectControl = new OpenLayers.Control.SelectFeature([mapserverNode,mapserverArea],
            {onSelect: onFeatureSelect, onUnselect: onFeatureUnselect});

    var panel = new OpenLayers.Control.Panel({defaultControl: selectControl});
    panel.addControls([selectControl]);
    map.addControl(panel);

    //END OF SELECT FEATURE THINGY

    map.addControl(new OpenLayers.Control.LayerSwitcher());
    map.addControl(new OpenLayers.Control.MousePosition());
    map.addControl(new OpenLayers.Control.PanZoom());
    map.addControl(new OpenLayers.Control.PanZoomBar());
    return map;
}

function getArrowIcon() {
   var size = new OpenLayers.Size(25, 22);
   var offset = new OpenLayers.Pixel(-30, -27);
   var icon = new OpenLayers.Icon("<%= asset_path 'arrow.png' %>", size, offset);

   return icon;
}

function addMarkerToMap(position, icon, description) {
   var marker = new OpenLayers.Marker(position.clone().transform(epsg4326, map.getProjectionObject()), icon);

   markers.addMarker(marker);

   if (description) {
      marker.events.register("mouseover", marker, function() { openMapPopup(marker, description) });
   }

   return marker;
}

function addObjectToMap(url, zoom, callback) {
   var layer = new OpenLayers.Layer.GML("Objects", url, {
      format: OpenLayers.Format.OSM,
      style: {
          strokeColor: "blue",
          strokeWidth: 3,
          strokeOpacity: 0.5,
          fillOpacity: 0.2,
          fillColor: "lightblue",
          pointRadius: 6
      },
      projection: new OpenLayers.Projection("EPSG:4326"),
      displayInLayerSwitcher: false
   });

   layer.events.register("loadend", layer, function() {
      var extent;

      if (this.features.length) {
         extent = this.features[0].geometry.getBounds();

         for (var i = 1; i < this.features.length; i++) {
            extent.extend(this.features[i].geometry.getBounds());
         }

         if (zoom) {
            if (extent) {
               this.map.zoomToExtent(extent);
            } else {
               this.map.zoomToMaxExtent();
            }
         }
      }

      if (callback) {
         callback(extent);
      }
   });

   map.addLayer(layer);

   layer.loadGML();
}

function addBoxToMap(boxbounds, id, outline) {
   if (!vectors) {
     // Be aware that IE requires Vector layers be initialised on page load, and not under deferred script conditions
     vectors = new OpenLayers.Layer.Vector("Boxes", {
        displayInLayerSwitcher: false
     });
     map.addLayer(vectors);
   }
   var geometry;
   if (outline) {
     vertices = boxbounds.toGeometry().getVertices();
     vertices.push(new OpenLayers.Geometry.Point(vertices[0].x, vertices[0].y));
     geometry = new OpenLayers.Geometry.LineString(vertices).transform(epsg4326, map.getProjectionObject());
   } else {
     geometry = boxbounds.toGeometry().transform(epsg4326, map.getProjectionObject());
   }
   var box = new OpenLayers.Feature.Vector(geometry, {}, {
      strokeWidth: 2,
      strokeColor: '#ee9900',
      fillOpacity: 0
   });
   box.fid = id;

   vectors.addFeatures(box);

   return box;
}

function openMapPopup(marker, description) {
   closeMapPopup();

   popup = new OpenLayers.Popup.FramedCloud("popup", marker.lonlat, null,
                                            description, marker.icon, true);
   popup.setBackgroundColor("#E3FFC5");
   map.addPopup(popup);

   return popup;
}

function closeMapPopup() {
   if (popup) {
      map.removePopup(popup);
      delete popup;
   }
}

function removeMarkerFromMap(marker){
   markers.removeMarker(marker);
}

function removeBoxFromMap(box){
   vectors.removeFeature(box);
}

function getMapCenter() {
   return map.getCenter().clone().transform(map.getProjectionObject(), epsg4326);
}

function setMapCenter(center, zoom) {
   zoom = parseInt(zoom);
   var numzoom = map.getNumZoomLevels();
   if (zoom >= numzoom) zoom = numzoom - 1;
   map.setCenter(center.clone().transform(epsg4326, map.getProjectionObject()), zoom);
}

function setMapExtent(extent) {
   map.zoomToExtent(extent.clone().transform(epsg4326, map.getProjectionObject()));
}

function getMapExtent() {
   return map.getExtent().clone().transform(map.getProjectionObject(), epsg4326);
}

function getMapZoom() {
   return map.getZoom();
}

function getEventPosition(event) {
   return map.getLonLatFromViewPortPx(event.xy).clone().transform(map.getProjectionObject(), epsg4326);
}

function getMapLayers() {
   var layerConfig = "";

   for (var i = 0; i < map.layers.length; i++) {
      if (map.layers[i].layerCode && map.layers[i].getVisibility()) {
         layerConfig += map.layers[i].layerCode;
      }
   }

   return layerConfig;
}

function setMapLayers(layerConfig) {
   if (layerConfig.charAt(0) == "B" || layerConfig.charAt(0) == "0") {
      var l = 0;

      for (var layers = map.getLayersBy("isBaseLayer", true), i = 0; i < layers.length; i++) {
         var c = layerConfig.charAt(l++);

         if (c == "B") {
            map.setBaseLayer(layers[i]);
         } else {
            map.layers[i].setVisibility(false);
         }
      }
   } else {
      for (var i = 0; i < map.layers.length; i++) {
         if (map.layers[i].layerCode) {
            if (layerConfig.indexOf(map.layers[i].layerCode) >= 0) {
               if (map.layers[i].isBaseLayer) {
                  map.setBaseLayer(map.layers[i]);
               } else {
                  map.layers[i].setVisibility(true);
               }
            } else if (!map.layers[i].isBaseLayer) {
               map.layers[i].setVisibility(false);
            }
         }
      }
   }
}

function scaleToZoom(scale) {
   return Math.log(360.0/(scale * 512.0)) / Math.log(2.0);
}
